<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>smos-ui</symbolicName>
    <version>2.1</version>
    <name>SMOS UI Components</name>
    <description>
        This module provides several UI components suited for visual
        inspection and analysis of data products acquired by ESA's
        SMOS mission.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2009 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>

    <dependency>
        <module>beam-visat</module>
    </dependency>
    <dependency>
        <module>blue-marble-worldmap</module>
    </dependency>
    <dependency>
        <module>smos-reader</module>
    </dependency>

    <categories>SMOS</categories>
    
    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importSmosProductDirectory</id>
            <helpId/>
            <formatName>SMOS</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>Import SMOS Product...</text>
            <mnemonic/>
            <shortDescr>Import a SMOS data product or product subset.</shortDescr>
            <description>Import a SMOS data product or product subset.</description>
        </action>
    </extension>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importSmosProductDataBlockFile</id>
            <helpId/>
            <formatName>SMOS-DBL</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>Import SMOS Data Block File...</text>
            <mnemonic/>
            <shortDescr>Import a SMOS data product or product subset.</shortDescr>
            <description>Import a SMOS data product or product subset.</description>
        </action>
    </extension>

    <extension point="beam-ui:actions">
        <action>
            <id>smosGridPointExport</id>
            <class>org.esa.beam.smos.visat.export.GridPointExportAction</class>
            <helpId>smosGridPointExport</helpId>
            <parent>tool</parent>
            <text>Export SMOS Grid Points...</text>
            <mnemonic>G</mnemonic>
        </action>
    </extension>

    <extension point="beam-ui:toolViews">
        <toolView>
            <id>org.esa.beam.smos.visat.GridPointBtDataTableToolView</id>
            <class>org.esa.beam.smos.visat.GridPointBtDataTableToolView</class>
            <title>SMOS L1C Table</title>
            <tabTitle>SMOS L1C Table</tabTitle>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
            <toolBarId>SMOS_Box</toolBarId>
            <helpId>smosTools</helpId>
            <smallIcon>/org/esa/beam/smos/visat/SmosGridPoint16.png</smallIcon>
            <largeIcon>/org/esa/beam/smos/visat/SmosGridPoint24.png</largeIcon>
            <description>Shows the SMOS grid point brightness temperature data table</description>
        </toolView>

        <toolView>
            <id>org.esa.beam.smos.visat.GridPointBtDataChartToolView</id>
            <class>org.esa.beam.smos.visat.GridPointBtDataChartToolView</class>
            <title>SMOS L1C Chart</title>
            <tabTitle>SMOS L1C Chart</tabTitle>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
            <toolBarId>SMOS_Box</toolBarId>
            <helpId>smosTools</helpId>
            <smallIcon>/org/esa/beam/smos/visat/SmosBtGraph16.png</smallIcon>
            <largeIcon>/org/esa/beam/smos/visat/SmosBtGraph24.png</largeIcon>
            <description>Shows the SMOS grid point brightness temperature chart</description>
        </toolView>

        <toolView>
            <id>org.esa.beam.smos.visat.GridPointBtDataFlagmatrixToolView</id>
            <class>org.esa.beam.smos.visat.GridPointBtDataFlagmatrixToolView</class>
            <title>SMOS L1C Flag-Matrix</title>
            <tabTitle>SMOS L1C Flags</tabTitle>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
            <toolBarId>SMOS_Box</toolBarId>
            <helpId>smosTools</helpId>
            <smallIcon>/org/esa/beam/smos/visat/SmosFlags16.png</smallIcon>
            <largeIcon>/org/esa/beam/smos/visat/SmosFlags24.png</largeIcon>
            <description>Shows the SMOS grid point brightness temperature flag matrix</description>
        </toolView>

        <toolView>
            <id>org.esa.beam.smos.visat.SnapshotInfoToolView</id>
            <class>org.esa.beam.smos.visat.SnapshotInfoToolView</class>
            <title>SMOS L1C Snapshot</title>
            <tabTitle>SMOS L1C Snapshot</tabTitle>
            <initState>HIDDEN</initState>
            <initSide>SOUTH</initSide>
            <initIndex>0</initIndex>
            <toolBarId>SMOS_Box</toolBarId>
            <helpId>smosTools</helpId>
            <smallIcon>/org/esa/beam/smos/visat/SmosSnapshot16.png</smallIcon>
            <largeIcon>/org/esa/beam/smos/visat/SmosSnapshot24.png</largeIcon>
            <description>Invokes the SMOS snapshot information tool</description>
        </toolView>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/smosbox.hs</path>
        </helpSet>
    </extension>

</module>
