<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>smos-ee2netcdf</symbolicName>
    <name>SMOS EarthExplorer to NetCDF converter</name>
    <version>3.0</version>

    <description>
        This module facilitates converting SMOS product files from
        Earth Explorer into NetCDF-4 format.
    </description>

    <changelog><![CDATA[
       <p><a href="http://www.brockmann-consult.de/beam-jira/issues/?jql=project%20%3D%20SBOX%20AND%20issuetype%20in%20(Bug%2C%20Improvement%2C%20%22New%20Feature%22%2C%20Requirement)%20AND%20fixVersion%20%3D%20%223.0%22%20AND%20status%20%3D%20Resolved">Several issues</a> have been resolved.
       </p>]]>
    </changelog>

    <vendor>Brockmann-Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht, Germany</contactAddress>
    <copyright>(C) 2013-2014 by Brockmann-Consult GmbH</copyright>
    <url>http://github.com/bcdev/smos-box</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>smos-reader</module>
    </dependency>
    <dependency>
        <module>smos-tools</module>
    </dependency>
    <dependency>
        <module>smos-gui</module>
    </dependency>


    <categories>Processor,SMOS,Data Conversion</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>smosEE2NetCDFExport</id>
            <class>org.esa.beam.smos.ee2netcdf.visat.NetCDFExportAction</class>
            <helpId>smosEE2NetCDFExport</helpId>
            <parent>exportOther</parent>
            <text>Convert SMOS EE files to NetCDF-4 ...</text>
            <mnemonic>N</mnemonic>
        </action>
    </extension>

</module>
