<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>smos-ee2netcdf</symbolicName>
    <name>SMOS EarthExplorer to NetCDF converter</name>
    <version>1.0</version>

    <description>
        <![CDATA[
            <p>This SMOS-Box module allows conversion of SMOS file in Earth Explorer file format to
            NetCDF 4 format.</p>
        ]]>
    </description>

    <changelog>
        <![CDATA[
        Changes in 1.0:<br/>
        ]]>
    </changelog>

    <vendor>Brockmann-Consult GmbH</vendor>
    <contactAddress>Max-Planck-Str. 2, 21502 Geesthacht, Germany</contactAddress>
    <copyright>(C) 2013 Brockmann-Consult GmbH</copyright>
    <url>http://github.com/bcdev/smos-box</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>smos-reader</module>
    </dependency>
    <dependency>
        <module>smos-tools</module>
    </dependency>


    <categories>Processor,SMOS,Data Conversion</categories>

    <extension point="ceres-core:serviceProviders">
        <serviceProvider>org.esa.beam.framework.gpf.OperatorSpi</serviceProvider>
    </extension>

    <extension point="beam-ui:actions">
        <action>
            <id>smosEE2NetCDFExport</id>
            <class>org.esa.beam.smos.ee2netcdf.visat.NetCDFExportAction</class>
            <helpId>smosEE2NetCDFExport</helpId>
            <parent>tool</parent>
            <text>Convert SMOS EE files to NetCDF-4</text>
            <mnemonic>N</mnemonic>
        </action>
    </extension>
</module>
