<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>smos-reader</symbolicName>
    <version>3.0</version>
    <name>SMOS Product Reader</name>
    <description>
        The SMOS Product Reader provides the capability of reading data
        products acquired by ESA's SMOS mission; supported products are:
        L1C Browse, L1C Science, L2 SM, L2 OS as well as SMOS auxiliary
        data for LAI, ECMWF, VTEC-C, and VTEC-P.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2010-2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog><![CDATA[
       <p><a href="http://www.brockmann-consult.de/beam-jira/issues/?jql=project%20%3D%20SBOX%20AND%20issuetype%20in%20(Bug%2C%20Improvement%2C%20%22New%20Feature%22%2C%20Requirement)%20AND%20fixVersion%20%3D%20%223.0%22%20AND%20status%20in%20(Resolved%2C%20Closed)">Several issues</a> have been resolved.
       </p>]]>
    </changelog>

    <dependency>
        <module>ceres-binio</module>
    </dependency>
    <dependency>
        <module>ceres-jai</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>smos-dgg</module>
    </dependency>
    <dependency>
        <module>smos-lsmask</module>
    </dependency>
    <dependency>
        <module>smos-tools</module>
    </dependency>

    <categories>Reader,SMOS</categories>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ProductImportAction</class>
            <id>importSmosProductDataBlockFile</id>
            <helpId/>
            <formatName>SMOS-EEF</formatName>
            <useAllFileFilter>false</useAllFileFilter>
            <text>SMOS Earth Explorer Format (EEF)</text>
            <mnemonic/>
            <shortDescr>Import a SMOS Earth Explorer Format (EEF) data product or product subset.</shortDescr>
        </action>
    </extension>

</module>
