<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>smos-reader</symbolicName>
    <version>2.1.3</version>
    <name>SMOS Product Reader</name>
    <description>
        The SMOS Product Reader provides the capability of reading data
        products acquired by ESA's SMOS mission; supported products are:
        L1C Browse, L1C Science, L2 SM, L2 OS as well as SMOS auxiliary
        data for LAI, ECMWF, VTEC-C, and VTEC-P.
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>
        Max Planck Str.2, 21502 Geesthacht (Germany)
    </contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog><![CDATA[
       <p> Changes in 2.1.3:<br>
        [SBOX-32] Crop subset products<br>
       <p> Changes in 2.1.2:<br>
        [SBOX-30] Update schemas to Release 2011-02-21_v04-07-85_DPGS_V3<br>
       <p> Changes in 2.1.1:<br>
        [SBOX-27] Missing start and stop times<br>
       <p> Changes in 2.1:<br>
        [SBOX-25] Incorrect brightness temperatures at ground<br>
        [SBOX-24] Pixels eastward of 168.5° E do not show up<br>
        [SBOX-23] Confusing product selection<br>
       <p> Changes in 2.0.1:<br>
        [SBOX-22] Interpolation for full pol products is wrong<br>
        [SBOX-20] Second RFI flag not shown in L1c flag coding<br>
       </p>]]>
    </changelog>

    <dependency>
        <module>ceres-binio</module>
    </dependency>
    <dependency>
        <module>ceres-jai</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>smos-dgg</module>
    </dependency>
    <dependency>
        <module>smos-lsmask</module>
    </dependency>

    <categories>Reader,SMOS</categories>

</module>
