<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>smos-dgg</symbolicName>
    <name>SMOS Discrete Global Grid</name>
    <version>2.4</version>
    <description>
        This module provides the mapping between the SMOS Discrete Global
        Grid and VISAT image pixels.
    </description>
    <packaging>dir</packaging>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010-2013 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog><![CDATA[
        <p> Changes in 2.2:<br>
         [SBOX-45] Update to BEAM 4.10<br>
        <p> Changes in 2.1.2:<br>
         [SBOX-33] Inaccurate image-to-model transformation parameters<br>
        </p>]]>
    </changelog>

    <categories>SMOS, Grid</categories>

    <dependency>
        <module>ceres-glayer</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    
</module>