<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>smos-worldmap</symbolicName>
    <name>SMOS Worldmap</name>
    <version>0.5</version>
    <description>
        This module provides a world map layer for the SMOS-Box.
    </description>
    <packaging>dir</packaging>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2009 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <categories>SMOS,World-Map</categories>

    <dependency>
        <module>ceres-glayer</module>
    </dependency>
    <dependency>
        <module>beam-core</module>
    </dependency>
    

</module>