<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>smos-gui</symbolicName>
    <name>SMOS Gui Tools and Utilities</name>
    <version>2.3-SNAPSHOT</version>
    <description>
        This module provides utility classes for SMOS GUI components
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010-2013 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog>
    </changelog>

    <categories>SMOS, Tools, GUI</categories>

    <dependency>
    </dependency>

</module>